<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>


    @Styles.Render("https://fonts.googleapis.com/css?family=Permanent+Marker")
    @Styles.Render("https://fonts.googleapis.com/css?family=Quicksand")
    @Styles.Render("https://fonts.googleapis.com/css?family=Syncopate")
    @Styles.Render("https://fonts.googleapis.com/css?family=Poiret+One")

    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/main.min.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-learning">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Learning Center", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="menu-hover">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="menu-hover">@Html.ActionLink("About", "About", "Home")</li>
                    <li class="menu-hover">@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")

                @*@if (Session != null & Session["User"] != null)
                {
                    var user = (LearningCenter.Models.User)Session["User"];
                    <p><h2>Logged in as @user.Email</h2></p>
                }*@
            </div>
        </div>
    </div>



    <div class="container body-content">
        @RenderBody()
        
        <footer>
            <p>Copyright &copy; @DateTime.Now.Year - The Learning Center. Website layout designed by asmerom.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
